.wp-block-breezeblocks-split-panel {

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .components-placeholder {
        height: 100%;
    }
}
