/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.split-panel {

	@media screen and (min-width: 800px) {
		display: flex;
	}

	&__image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		flex: 0 0 auto;
		max-width: 100%;
		min-height: 400px;
		position: relative;
		text-align: center;
		width: 100%;

		@media screen and (min-width: 800px) {
			min-height: 550px;
			width: 50%;
		}
	}

	&__box {
		align-items: center;
		display: flex;
		flex: 1;
		padding: 4rem;
	}

	&--reversed {
		flex-direction: row-reverse;
	}
}
