/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-breezeblocks-button-group {
	display: block;

	.editor-block-list__layout {
		display: flex;
		justify-content: center;
	}

	&.is-aligned-left .editor-block-list__layout {
		justify-content: flex-start;
	}

	&.is-aligned-center .editor-block-list__layout {
		justify-content: center;
	}

	&.is-aligned-right .editor-block-list__layout {
		justify-content: flex-end;
	}

	.editor-block-list__block {
		margin: 0;
	}
}
